/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6FA; /* Lavender */
}

header {
    background-color: #79bdf9;
    color: blue;
    padding: 5px 5px;
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.option {
    margin-right: 10px;
}

.option.selected {
    font-weight: bold ;
}
.content{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
#informacion-personal {
    margin-top: 20px;
    width: 100%;
}
.titulo{
    font-weight: bold;
    padding-right:10px ;
}
.navbra a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* Estilos para el encabezado principal */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #4682B4; /* Steel Blue */
    font-size: 36px;
}

h2{
    text-align: center;
    margin-top: 20px;
    color: #4682B4; /* Steel Blue */
    font-size: 36px;
}
/* Estilos para la imagen */
img {
    display: flex;
    margin: 5px auto;
    border-radius: 2px;
}

/* Estilos para los párrafos */
p {
    text-align: center;
    color: #000000; /* Sea Green */
    margin: 20px auto;
    max-width: 80%;
    line-height: 1.6;
}

/* Estilos para los subtítulos */


/* Estilos para la tabla */
.table-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-collapse: collapse;
}


.row:nth-child(even) {
    background-color: #4682B4; 
}

.row:hover {
    background-color: #87CEFA;
}

.friend-list{
    display: flex;
    width: 10px 10px;
}
.footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(31, 170, 239);
    border-top: 1px solid black;
}