
.container{
    border: 5px solid #F79646;
    width: 33%;
    display: inline-block;
    font-size: 18px;
    padding: 30px;
}

.form{
    border-radius: 1px solid black;
}.boton{
    text-decoration: none;
    margin: 5px; 
    background-color:#F79646; 
    color:white; 
    text-align: center;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #F79646;
    cursor: pointer;

}
select{
    cursor: pointer;

    border: 2px solid #F79646;
}
input{
    
    border: 2px solid #F79646;
}
table {
    margin: 20px auto;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 3px solid #F79646; 
}
